# Default ignored files
/../../../결제시스템 구축/EDA_PayOrder_System/.idea/shelf/
/../../../결제시스템 구축/EDA_PayOrder_System/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../결제시스템 구축/EDA_PayOrder_System/.idea/httpRequests/
# Datasource local storage ignored files
/../../../결제시스템 구축/EDA_PayOrder_System/.idea/dataSources/
/../../../결제시스템 구축/EDA_PayOrder_System/.idea/dataSources.local.xml
